@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
}

.image {
    background-image: linear-gradient(to bottom, transparent, transparent, white), url("../images/header.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

.navbar {
    justify-content: flex-end;
    display: flex;
    gap: 4%;
    padding-right: 7%;
    padding-top: 2%;
    font-family: 'Tilt Neon', sans-serif;
}

.navbar>div a {
    text-decoration: none;
    color: white;
}

.textheader {
    width: 40%;
    margin-top: 15%;
    font-family: 'Tilt Neon', sans-serif;
}

.headerparent {
    display: flex;
    justify-content: center;
}

.boutonheader {
    text-align: center;
    padding-top: 3%;
}

p {
    font-size: 200%;
}

.p1 {
    font-size: 400%;
    color: rgb(131, 118, 118);
    font-weight: 1000;
}

.p2 {
    font-size: 400%;
    font-weight: 1000;
}

.p3 {
    font-size: 400%;
    font-weight: 1000;
}

.p4 {
    font-size: medium;
    justify-content: space-between;
    letter-spacing: 10px;
    font-family: 'Tilt Neon', sans-serif;
}

.myButton {
    background-color: #5b78bf;
    border-radius: 28px;
    border: 1px solid #6969f0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-top: 8%;
    font-family: 'Tilt Neon', sans-serif;
}

.myButton:hover {
    background-color: #5b78bf;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.barber {
    display: flex;
}

.barber h1 {
    padding-top: 3cm;
    color: rgb(135, 135, 135);
    font-size: smaller;
}

.barber h2 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barber p {
    color: rgb(137, 137, 137);
    font-size: 110%;
}

.barber button {
    border-radius: 20%;
    color: blueviolet;
    border-color: blueviolet;
    background-color: rgb(255, 255, 255);
    height: 30px;
}

.sect2 .titre {
    text-align: center;

}

.sect2 .titre h1 {
    color: rgb(135, 135, 135);
    font-size: smaller;
}

.sect2 .titre h2 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1cm;
}

.sect3 {
    display: flex;
    justify-content: space-evenly;
}

.sect3 div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sect3 div img {
    width: 30%;
}

.sect3 div h3 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: blueviolet;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.sect4 h1 {
    padding-top: 1cm;
    color: rgb(135, 135, 135);
    font-size: smaller;
    text-align: center;
}

.sect4 h2 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1cm;
    text-align: center;
}

.sect5 {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.sect5 img {
    height: 250px;
    width: 250px;
}

.sect6 h1 {
    text-align: center;
    padding-top: 1cm;
    color: rgb(156, 153, 159);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.sect6 h2 {
    text-align: center;
    color: blueviolet;
    padding-bottom: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sect7 {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-inline: auto;
}

.sect7 div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sect7 div img {
    width: 30%;
}

.sect3 div h3 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.sect7 div h5 {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sect7 div h1 {
    color: #5c1ca0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sect7 div h2 {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.transparent {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.transparent img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sect5a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transparent:hover .sect5a {
    opacity: 1;
}

.sect5b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(122, 116, 116, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;
}

.transparent:hover .sect5b {
    opacity: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
}

.image {
    background-image: linear-gradient(to bottom, transparent, transparent, white), url("../images/header.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

.navbar {
    justify-content: flex-end;
    display: flex;
    gap: 4%;
    padding-right: 7%;
    padding-top: 2%;
    font-family: 'Tilt Neon', sans-serif;
}

.navbar>div a {
    text-decoration: none;
    color: white;
}

.textheader {
    width: 40%;
    margin-top: 15%;
    font-family: 'Tilt Neon', sans-serif;
}

.headerparent {
    display: flex;
    justify-content: center;
}

.boutonheader {
    text-align: center;
    padding-top: 3%;
}

p {
    font-size: 200%;
}

.p1 {
    font-size: 400%;
    color: rgb(131, 118, 118);
    font-weight: 1000;
}

.p2 {
    font-size: 400%;
    font-weight: 1000;
}

.p3 {
    font-size: 400%;
    font-weight: 1000;
}

.p4 {
    font-size: medium;
    justify-content: space-between;
    letter-spacing: 10px;
    font-family: 'Tilt Neon', sans-serif;
}

.myButton {
    background-color: #5b78bf;
    border-radius: 28px;
    border: 1px solid #6969f0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-top: 8%;
    font-family: 'Tilt Neon', sans-serif;
}

.myButton:hover {
    background-color: #5b78bf;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.barber {
    display: flex;
}

.barber h1 {
    padding-top: 3cm;
    color: rgb(135, 135, 135);
    font-size: smaller;
}

.barber h2 {
    color: rgb(88, 4, 165);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barber p {
    color: rgb(137, 137, 137);
    font-size: 110%;
}

.barber button {
    border-radius: 20%;
    color: rgb(88, 14, 158);
    border-color: rgb(95, 14, 171);
    background-color: rgb(255, 255, 255);
    height: 30px;
}

.bandeviolette {
    background-color: rgb(65, 6, 117);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bandeviolette>* {
    padding: 0.5%;
    font-size: 50%;
}

.bandeviolette button {
    font-weight: bold;
}

.bandeviolette p {
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35%;
}

.first>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: rgb(64, 3, 108);
    font-size: large;
}

.rects {
    font-size: 40%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 30px;
}

.rects b {
    color: rgb(80, 4, 156);
}

.rectanglegauche {
    height: 150px;
    width: 33%;
    border: 1px solid hsla(0, 1%, 68%, 0.796);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rectangledroite {
    height: 150px;
    width: 33%;
    border: 1px solid rgba(174, 173, 173, 0.789);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rectsimg {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

.rectangledroite p {
    padding-left: 20px;
}

.rectanglegauche p {
    padding-left: 20px;
}

.avatar {
    border-radius: 55%;
    width: 100%;
}

.texte {
    margin-left: 2%;
}

.premierrectangle {
    margin: auto;
    display: flex;
    font-size: 50%;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid rgba(152, 151, 151, 0.729);
}

.img {
    height: 90%;
    width: auto;
    margin-left: 10px;
}

.gmi {
    height: 90%;
    width: auto;
    margin-left: 10px;
}

.secondrectangle {
    margin: auto;
    display: flex;
    font-size: 50%;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid rgba(152, 151, 151, 0.729);
}

.icon {
    height: 2%;
    width: 2%;
}

.background2 .bouton {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 100px;
}

textarea {
    display: flex;
    margin: auto;
}

.bouton {
    display: flex;
    margin: auto;
}

.background2 button {
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(61, 45, 209);
    border: 1px solid rgb(71, 12, 134);
}

button:active {
    background-color: rgba(96, 29, 163, 0.448);
}

.basdepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobasdepage {
    display: flex;
}

.basdepage img {
    height: 40px;
    width: 30%;
}

.gauche {
    font-size: 80%;
}