                        @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
                        * {
                            margin: 0;
                            padding: 0;
                        }
                        
                        .image {
                            background-image: linear-gradient(to bottom, transparent, transparent, white), url("../images/header.jpg");
                            background-size: cover;
                            width: 100%;
                            height: 800px;
                        }
                        
                        .navbar {
                            justify-content: flex-end;
                            display: flex;
                            gap: 4%;
                            padding-right: 7%;
                            padding-top: 2%;
                            font-family: 'Tilt Neon', sans-serif;
                        }
                        
                        .navbar>div a {
                            text-decoration: none;
                            color: white;
                        }
                        
                        .textheader {
                            width: 40%;
                            margin-top: 15%;
                            font-family: 'Tilt Neon', sans-serif;
                        }
                        
                        .headerparent {
                            display: flex;
                            justify-content: center;
                        }
                        
                        .boutonheader {
                            text-align: center;
                            padding-top: 3%;
                        }
                        
                        p {
                            font-size: 200%;
                        }
                        
                        .p1 {
                            font-size: 400%;
                            color: rgb(131, 118, 118);
                            font-weight: 1000;
                        }
                        
                        .p2 {
                            font-size: 400%;
                            font-weight: 1000;
                        }
                        
                        .p3 {
                            font-size: 400%;
                            font-weight: 1000;
                        }
                        
                        .p4 {
                            font-size: medium;
                            justify-content: space-between;
                            letter-spacing: 10px;
                            font-family: 'Tilt Neon', sans-serif;
                        }
                        
                        .myButton {
                            background-color: #5b78bf;
                            border-radius: 28px;
                            border: 1px solid #6969f0;
                            display: inline-block;
                            cursor: pointer;
                            color: #ffffff;
                            font-family: Arial;
                            font-size: 17px;
                            padding: 16px 31px;
                            text-decoration: none;
                            text-shadow: 0px 1px 0px #2f6627;
                            margin-top: 8%;
                            font-family: 'Tilt Neon', sans-serif;
                        }
                        
                        .myButton:hover {
                            background-color: #5b78bf;
                        }
                        
                        .myButton:active {
                            position: relative;
                            top: 1px;
                        }
                        
                        .barber {
                            display: flex;
                        }
                        
                        .barber h1 {
                            padding-top: 3cm;
                            color: rgb(135, 135, 135);
                            font-size: smaller;
                        }
                        
                        .barber h2 {
                            color: rgb(88, 4, 165);
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                        
                        .barber p {
                            color: rgb(137, 137, 137);
                            font-size: 110%;
                        }
                        
                        .barber button {
                            border-radius: 20%;
                            color: rgb(88, 14, 158);
                            border-color: rgb(95, 14, 171);
                            background-color: rgb(255, 255, 255);
                            height: 30px;
                        }
                        
                        .bandeviolette {
                            background-color: rgb(65, 6, 117);
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                        }
                        
                        .bandeviolette>* {
                            padding: 0.5%;
                            font-size: 50%;
                        }
                        
                        .bandeviolette button {
                            font-weight: bold;
                        }
                        
                        .bandeviolette p {
                            color: white;
                        }
                        
                        .first {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 35%;
                        }
                        
                        .first>h2 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                            color: rgb(64, 3, 108);
                            font-size: large;
                        }
                        
                        .rects {
                            font-size: 40%;
                            display: flex;
                            width: 100%;
                            justify-content: space-evenly;
                            gap: 15px;
                            margin-top: 30px;
                        }
                        
                        .rects b {
                            color: rgb(80, 4, 156);
                        }
                        
                        .rectanglegauche {
                            height: 150px;
                            width: 33%;
                            border: 1px solid hsla(0, 1%, 68%, 0.796);
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                        }
                        
                        .rectangledroite {
                            height: 150px;
                            width: 33%;
                            border: 1px solid rgba(174, 173, 173, 0.789);
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                        }
                        
                        .rectsimg {
                            width: 30%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            transform: translateX(-50%);
                        }
                        
                        .rectangledroite p {
                            padding-left: 20px;
                        }
                        
                        .rectanglegauche p {
                            padding-left: 20px;
                        }
                        
                        .avatar {
                            border-radius: 55%;
                            width: 100%;
                        }
                        
                        .texte {
                            margin-left: 2%;
                        }
                        
                        .premierrectangle {
                            margin: auto;
                            display: flex;
                            font-size: 50%;
                            width: 90%;
                            justify-content: center;
                            align-items: center;
                            height: 300px;
                            border: 2px solid rgba(152, 151, 151, 0.729);
                        }
                        
                        .img {
                            height: 90%;
                            width: auto;
                            margin-left: 10px;
                        }
                        
                        .gmi {
                            height: 90%;
                            width: auto;
                            margin-left: 10px;
                        }
                        
                        .secondrectangle {
                            margin: auto;
                            display: flex;
                            font-size: 50%;
                            width: 90%;
                            justify-content: center;
                            align-items: center;
                            height: 300px;
                            border: 2px solid rgba(152, 151, 151, 0.729);
                        }
                        
                        .icon {
                            height: 2%;
                            width: 2%;
                        }
                        
                        .background2 .bouton {
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px;
                            border-radius: 100px;
                        }
                        
                        textarea {
                            display: flex;
                            margin: auto;
                        }
                        
                        .bouton {
                            display: flex;
                            margin: auto;
                        }
                        
                        .background2 button {
                            border-radius: 5px;
                            background-color: rgba(255, 0, 0, 0);
                            color: rgb(61, 45, 209);
                            border: 1px solid rgb(71, 12, 134);
                        }
                        
                        button:active {
                            background-color: rgba(96, 29, 163, 0.448);
                        }
                        
                        .basdepage {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .logobasdepage {
                            display: flex;
                        }
                        
                        .basdepage img {
                            height: 40px;
                            width: 30%;
                        }
                        
                        .gauche {
                            font-size: 80%;
                        }